<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p>Welcome to
        <%= message %>
    </p>
    <form action="/check" method="post">
    	<p>
        Lien LeBonCoin: <input name="lbcurl" type="url"/>
    	</p>
    	<p><button id="poke">Send !</button></p>
    </form>
    
    
</body>

</html>